<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsqEFzc7XYJkoeFGReRp5onmLaYGYUDpk</string>
	<key>GCM_SENDER_ID</key>
	<string>992716188758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuios.StudyChatApp</string>
	<key>PROJECT_ID</key>
	<string>studychatapp-d5d60</string>
	<key>STORAGE_BUCKET</key>
	<string>studychatapp-d5d60.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992716188758:ios:007c5d63225131d51a5ff7</string>
</dict>
</plist>